<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Log to file -->
    <target xsi:type="File" name="logfile" fileName="logs/IxlaControlar-log.txt"
            layout="${longdate} ${level} ${message}"
            archiveFileName="logs/IxlaControlar-log-${date:format=yyyy-MM-dd}.txt"
            archiveEvery="Day"
            maxArchiveFiles="7"
	        concurrentWrites="true" />
  </targets>

  <rules>
    <!-- Log all levels to file -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
